.DS_Store
._.DS_Store
*.o
*.out
*~
~\$*
*.dms
*.swp
*.swo
test
libmx.a
.vscode
src/uls.h
.idea
uchat
uchat_server
uchat_db
chat_base.db
Makefile.nix
*~
uchat_server.log
modified:   server/tmp/meme_avatar.png
*.jpg
*.png
