
/********************* Colour reference chart****************
*************************** comment ********* colour ******** 

box background colour       bbg              #1b92d1
box background light col    bbg              #37afe2
box filldes colour          bfc              #ecf5fb
box border colour           bb               #dfd8cb
box text colour             bt               #101010

*/

window {
    background-color: #ecf5fb;
}

label {
    color: #101010;
}

box {
    background-color: #1b92d1;
}

box label {
    color: #ffffff;
}

grid {
    background-color: white;
}

list grid {
    background-color: transparent;
}

list grid grid {
    background-color: #1b92d1;
    border-radius: 15px;
}

list {
    background-color: white;
}

list label {
    color: #101010;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

list image {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}

label {
    font: 16px Sans Bold;
}

switch {
    border-radius: 27px;
    background-image: linear-gradient(#ffffff, #ffffff);
    border-color: #e6e9ef;
    border-width: 2px;
}

switch:focus {
    border-top-width: 3px;
    border-left-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 3px;
}

switch slider {
    border-radius: 27px;
    border-color: #e6e9ef;
    border-width: 2px;
}

switch:checked {
    border-color: #4995be;
    border-width: 2px;
}

switch:checked slider {
    border-color: #4995be;
    border-width: 3px;
}

entry {
    /* border-color: #4995be; */
    background-color: #dfd8cb;
    border-width: 0px;
    border-radius: 0px;
}

textview.view {
    border-color: #ffffff;
    border-width: 3px;
}

textview text {
    background-color: #dfd8cb;
    color: #101010;
}

button {
    border-radius: 0%;
    background-image: linear-gradient(#1b92d1, #1b92d1);
}

button:active {
    background-image: linear-gradient(#dfd8cb, #dfd8cb);
}

button:focus {
    border-color: #dfd8cb;
    border-width: 4px;
}

button label {
    color: #ffffff;
}

button:active label {
    color: #1b92d1;
}

